<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
     <div class="row row-content">
           <div class="col-xs-12">
                <div class="item item-divider">
              <h3>Location Information</h3> 
           </div>
        </div>
        </div>
     <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                <h5>Our Address</h5>
                   <address style="font-size: 100%">
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
                        <i class="icon ion-ios-telephone-outline">: 852 1234 5678</i><br>
                        <i class="ion-ios-printer-outline">: +852 8765 4321</i><br>
                        <i class="icon ion-email">:confusion@food.net</i>
		           </address>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="btn-group" role="group" aria-label="...">
                    <button class="button button-positive" href="tel:852 1234 5678"><i class="icon ion-ios-telephone-outline"></i>Call</button>
                    <button class="button button-calm" href="tel:852 1234 5678"><i class="ion-social-skype-outline"></i>Skype</button>
                    <button class="button button-balanced" href="tel:852 1234 5678"><i class="icon ion-email"></i>Email</button>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>

